body {
    margin: 0 auto;
    background-color: rgb(243, 248, 250);
    width: 1300px;
}

.header {
    text-align: center;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
}

.header__title {
    font-size: 400%;
}

a {
    font-size: 150%;
    color: black;
    text-decoration: none;
}

#sub_title1,
#sub_title2,
#sub_title3,
#sub_title4,
#sub_title5,
#sub_title6,
#sub_title7 {
    font-size: 300%;
    font-family: 'Playfair Display', serif;
    color: rgb(93, 86, 122);
}

.section__countries {
    display: flex;
    justify-content: space-between;
}

img {
    border: 1px solid black;
}

.main {
    margin-top: 100px;
}

.section__belarus,
.section__russia,
.section__ukraine,
.section__kazakhstan,
.section__italy,
.section__germany,
.section__japan {
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section__belarus_info,
.section__russia_info,
.section__ukraine_info,
.section__kazakhstan_info,
.section__italy_info,
.section__germany_info,
.section__japan_info {
    text-align: center;
    margin: 0 auto;
    width: 1100px;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 40px;
}

.section__video {
    font-size: 150%;
    margin-top: 30px;
}

.section__belarus_story,
.section__russia_story,
.section__ukraine_story,
.section__kazakhstan_story,
.section__italy_story,
.section__germany_story,
.section__japan_story {
    width: 500px;
    text-align: justify;
}

hr {
    border: 2px solid red;
    margin-top: 50px;
    width: 500px;
}

h3 {
    font-size: 200%;
    font-family: 'Lobster', cursive;
}

.section__belarus-image {
    background: url('img/Draniki.jpg') center/cover no-repeat;
    width: 600px;
    height: 550px;
    margin: 0 auto;
}

.section__russia-image {
    background: url('img/solyanka.jpg') center no-repeat;
    width: 600px;
    height: 550px;
    margin: 0 auto;
}

.section__ukraine-image {
    background: url('img/borsch.jpg') center/cover no-repeat;
    width: 600px;
    height: 550px;
    margin: 0 auto;
}

.section__kazakhstan-image {
    background: url('img/beshbarmak.jpg') center/cover no-repeat;
    width: 600px;
    height: 550px;
    margin: 0 auto;
}

.section__italy-image {
    background: url('img/pizza.jpg') center/cover no-repeat;
    width: 600px;
    height: 580px;
    margin: 0 auto;
}

.section__germany-image {
    background: url('img/wurst.jpg') center/cover no-repeat;
    width: 600px;
    height: 580px;
    margin: 0 auto;
}

.section__japan-image {
    background: url('img/sushi.jpg') center/cover no-repeat;
    width: 600px;
    height: 580px;
    margin: 0 auto;
}

.footer {
    text-align: center;
    margin-bottom: 50px;
    font-size: 200%;
    width: 1300px;
}

a:hover {
    color: rgb(89, 153, 153);
}

summary:hover {
    color: rgb(89, 153, 153);
    cursor: pointer;
}