body {
  margin: 0 auto;
  background-color: var(--color-one);
  width: 1300px;
}

.header {
  text-align: center;
  margin: 0 auto;
  font-family: "Playfair Display", serif;
}

.header__title {
  font-size: 400%;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

a {
  font-size: 150%;
  color: black;
  text-decoration: none;
}

.sub__title1,
.sub__title2,
.sub__title3,
.sub__title4,
.sub__title5,
.sub__title6,
.sub__title7 {
  font-size: 180%;
  font-family: "Playfair Display", serif;
  color: rgb(93, 86, 122);
}

.title1,
.title2,
.title3,
.title4,
.title5,
.title6,
.title7 {
  font-size: 55px;
  font-family: "Playfair Display", serif;
  color: rgb(93, 86, 122);
}

.section__countries {
  display: flex;
  justify-content: space-between;
}

img {
  border: 1px solid black;
}

.main {
  margin-top: 100px;
}

.section__belarus,
.section__russia,
.section__ukraine,
.section__kazakhstan,
.section__italy,
.section__germany,
.section__japan {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section__belarus_info,
.section__russia_info,
.section__ukraine_info,
.section__kazakhstan_info,
.section__italy_info,
.section__germany_info,
.section__japan_info {
  text-align: center;
  margin: 0 auto;
  width: 1100px;
  display: inline-flex;
  justify-content: space-between;
  column-gap: 30px;
  margin-top: 40px;
}

.section__belarus_story,
.section__russia_story,
.section__ukraine_story,
.section__kazakhstan_story,
.section__italy_story,
.section__germany_story,
.section__japan_story {
  width: 500px;
  text-align: justify;
}

.section__widget {
  font-size: 150%;
  margin-top: 30px;
  width: 1200px;
}

.section__comment {
  margin-top: 30px;
}

.form {
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 12px;
  align-items: center;
  margin-left: 230px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(241, 241, 246);
}

.textarea {
  resize: none;
  width: 690px;
  height: 300px;
  border-radius: 12px;
  padding: 10px;
  font-size: 20px;
  background-color: var(--color-one);
}

.textarea::placeholder {
  color: rgb(177, 177, 194);
  font-size: 20px;
}

.textarea:focus {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  background-color: rgb(216, 225, 244);
}

.form__input-submit {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  background-color: rgb(223, 241, 223);
}

.form__input-reset {
  width: 200px;
  height: 30px;
  border-radius: 7px;
  background-color: rgb(249, 214, 214);
}

.form__input-submit:hover {
  cursor: pointer;
  opacity: 0.5;
}

.form__input-reset:hover {
  cursor: pointer;
  opacity: 0.5;
}

hr {
  border: 2px solid red;
  margin-top: 50px;
  width: 500px;
}

h3 {
  font-size: 200%;
  font-family: "Lobster", cursive;
}

.section__belarus-image {
  background: url("../img/Draniki.jpg") center/cover no-repeat;
  width: 600px;
  height: 550px;
  margin: 0 auto;
}

.section__russia-image {
  background: url("../img/solyanka.jpg") center no-repeat;
  width: 600px;
  height: 550px;
  margin: 0 auto;
}

.section__ukraine-image {
  background: url("../img/borsch.jpg") center/cover no-repeat;
  width: 600px;
  height: 550px;
  margin: 0 auto;
}

.section__kazakhstan-image {
  background: url("../img/beshbarmak.jpg") center/cover no-repeat;
  width: 600px;
  height: 550px;
  margin: 0 auto;
}

.section__italy-image {
  background: url("../img/pizza.jpg") center/cover no-repeat;
  width: 600px;
  height: 580px;
  margin: 0 auto;
}

.section__germany-image {
  background: url("../img/wurst.jpg") center/cover no-repeat;
  width: 600px;
  height: 580px;
  margin: 0 auto;
}

.section__japan-image {
  background: url("../img/sushi.jpg") center/cover no-repeat;
  width: 600px;

  height: 580px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  margin-bottom: 50px;
  font-size: 200%;
  width: 1300px;
}

a:hover {
  color: var(--color-two);
}

summary:hover {
  color: var(--color-two);
  cursor: pointer;
}
